.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Data/
Misc/Linguistic factors included in the analysis.docx
Misc/SAP.txt
Code/Main_Code.nb.html
Misc/~$nguistic factors included in the analysis.docx
Misc/SAP
